{% set uwsgi = salt.grains.filter_by({
    'default': {
        'pkgs': [
            'python3-dev',
            'python3',
            'curl',
            'gcc'
        ],
        'service': 'uwsgi',
        'user': 'uwsgi',
        'pip_path': '/usr/local/bin/pip3'
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('uwsgi:overrides'), base='default') %}
