[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart={{ uwsgi_path }} --ini /etc/uwsgi/emperor.ini
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
ExecReload=/usr/local/bin/uwsgi --reload

[Install]
WantedBy=multi-user.target